:root {
    --color-red: #F02723;
    --color-black:#000000FF;
    --color-white:#FFFFFFFF;
    --color-darkGrey: #68686850;
    --color-lightGrey: #575757;
    --color-kaki: #2d2d2d;
    --accent-color: #f64435;
    --shadow-color: #202020;
    --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
}

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto, Oxygen, sans-serif;
    font-size: 1.25rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: center/cover no-repeat url("../images/background-210125-235634.png");
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.app {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    background: var(--color-black);
    color: white;
}
.nav__title {
    color: var(--color-red);
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}
.nav__list {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.nav__list > li button {
    color: var(--color-white);
    font-size: 1rem;
    height: 2.5rem;
    width: 6rem;
    margin: 1rem 0.2rem;
    background-color: var(--color-red) ;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -1px -4px 13px 0px rgba(255,255,255,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -1px -4px 13px 0px rgba(255,255,255,0);
}
.jobs {
    height: 100%;
    overflow-y: auto;
    background-color: var(--color-darkGrey);
    /* Firefox */
    scrollbar-width: 6px;
    scrollbar-color: var(--color-kaki);
    scrollbar-face-color: var(--color-red);
}
.jobs::-webkit-scrollbar {
    /* Safari and Chrome */
    background-color: var(--color-kaki);
    width: 6px;
}

.jobs::-webkit-scrollbar-thumb {
    /* Safari and Chrome */
    background-color: var(--color-red);
}
.jobs__item {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 2px 4px 13px 8px #000000;
    box-shadow: 2px 4px 13px 8px #000000;
    width: 70%;
    display: flex;
    margin: 1.5rem 0;
    position: relative;
    cursor: grab;
}
.footer {
    background: var(--color-black);
    border-top: 1px solid var(--color-black);
    color: var(--color-white);
}
.footer__copyright {
    text-align: center;
    line-height: 5rem;
}
.dragging {
    opacity: .5;
}
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background:var(--component-bg-gradient) ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup__container {
    background: var(--color-kaki);
    background: var(--component-bg-gradient);
    width: 45rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 20px var(--shadow-color);
}
.close {
    align-self: flex-end;
    font-size: 32px;
    color: var(--color-red);
    margin-right: 0.5rem;
    transition: color 250ms ease;
}
.close:hover,.close:focus {
    transform: scale(1.5);
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
}
.submit {
    align-self: flex-end;
    color: var(--color-white);
    background-color: var(--color-red) ;
    cursor: pointer;
    border-radius: 3px;
    width: 3.5rem;
    padding: 0.3rem;
    margin: 0.5rem;
}
