:root {
    --color-red: #F02723;
    --color-black:#000000FF;
    --color-white:#FFFFFFFF;
    --color-darkGrey: #68686850;
    --color-kaki: #2d2d2d;
}

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto, Oxygen, sans-serif;
    font-size: 1.25rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: center/cover no-repeat url("../images/background-210125-235634.png");
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.app {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    background: var(--color-black);
    color: white;
}
.nav__title {
    color: var(--color-red);
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}
.nav__list {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.nav__list > li button {
    color: white;
    font-size: 1rem;
    height: 2.5rem;
    width: 6rem;
    margin: 1rem 0.2rem;
    background-color: var(--color-red) ;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -1px -4px 13px 0px rgba(255,255,255,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -1px -4px 13px 0px rgba(255,255,255,0);
}
.popup__container {
    position: absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 220px;
    width: 650px;
    border-radius: 5px;
    z-index: 9999;
}
.popup__nav {
    text-align: right;
    margin-right: 0.5rem;
    margin-top: 0.7rem;
}
.popup__container i {
    color: red;
    font-size: 1rem;
    cursor: pointer;
}
.popup__body {
    color: yellow;
    padding:  0 0.7rem;
}
.popup__input {
    margin: 0.5rem 0;
}
.popup__input input {
    outline: 0;
    border: none;
    background-color: rgb(96, 92, 92);
    color: white;
    width: 100%;
    height: 2.2rem;
}
.popup__btn {
    text-align: right;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
}
.popup__btn > button {
    background-color: var(--color-red);
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
}
.highlight {
    opacity: 0.5;
}
.popup-hide {
    display: none;
}
.jobs {
    height: 100%;
    overflow-y: auto;
    background-color: var(--color-darkGrey);
    /* Firefox */
    scrollbar-width: 6px;
    scrollbar-color: var(--color-kaki);
    scrollbar-face-color: var(--color-red);
}
.jobs::-webkit-scrollbar {
    /* Safari and Chrome */
    background-color: var(--color-kaki);
    width: 6px;
}

.jobs::-webkit-scrollbar-thumb {
    /* Safari and Chrome */
    background-color: var(--color-redcolor);
}
.jobs__item {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 2px 4px 13px 8px #000000;
    box-shadow: 2px 4px 13px 8px #000000;
    width: 70%;
    display: flex;
    margin: 1.5rem 0;
    position: relative;
    cursor: grab;
}
.item__img {
    width: 100%;
    flex: 1 1 60%;
}
.item__video {
    width: 100%;
    height: 100%;
    flex: 1 1 50%;
}
.item__note {
    font-size: 1.5rem;
    color: yellow;
    display: flex;
    flex-direction: column;
}
.note__contents {
    padding: 0.5rem;
}
.task__contents {
    list-style: none;
}
.task__contents li:before {
    content: '■';
    display: inline-block;
    margin-right: 0.2em;
}
.item__body {
    flex: 1 1 50%;
    width: 100%;
    position: relative;
}
.item__title {
    font-size: 1.5rem;
    color: lightyellow;
    padding: 0.5rem;
}
.item__btn {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 0.5rem;
    cursor: pointer;
}

.footer {
    background: var(--color-black);
    border-top: 1px solid var(--color-black);
    color: var(--color-white);
}
.footer__copyright {
    text-align: center;
    line-height: 5rem;
}
.dragging {
    opacity: .5;
}
